:root {
  --heading-font: "Rubik", sans-serif;
  --default-font: "Cabin", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--default-font);
}
h1 {
  font-family: var(--heading-font);
}
